.wrapper {
  display: flex;
}

.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid #121212;
  width: 502px;
}


.searchButton {
  box-sizing: border-box;
  width: 60px;
  height: 53px;
  left: 961px;
  top: 27px;
  background: #ffffff;
  border: 1px solid #121212;
  border-radius: 0px 8px 8px 0px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  left: 961px;
  top: 27px;
}
